<div>
  <div>
    <img src="" alt="" />
    <div>
      <p>September 13, 2023 at 20:30</p>
      <p>Warszawa - woj. Mazowieckie</p>
      <p>Amfiteatr Cemowo, ul. Władysława Raginisa</p>
    </div>
  </div>
  <div>
    <p>
      Zapraszamy na koncerty najnowszego programu stand-up Mateusza Sochy pt.
      "Panie Mateuszu"! UWAGA! - Wstęp na wydarzenie będzie możliwy tylko i
      wyłącznie w obowiązującym aktualnie reżimie sanitarnym - Bilety do
      kupienia tylko na www.kupbilecik.pl - Występ dla osób powyżej 18 roku
      życia (między 16 a 18 rokiem życia z pisemnym pozwoleniem od rodziców) -
      Występ może być nagrywany. Zakup biletu równoważny jest ze zgodą na
      upublicznienie swojego wizerunku. - Nagrywanie występu w formie audio i
      video jest zabronione - Bilet nie daje prawa do przeszkadzania
      występującym. - Organizator zastrzega sobie prawo wyproszenia
      przeszkadzającej osoby, bez możliwości zwrotu za bilety. - Kupując bilet
      akceptujesz powyższe uwagi. Read more on:
    </p>
  </div>
  <div>
    <div>
      <i class="fa-regular fa-clock"></i>
      <p>110 min</p>
      <span>estimated length of performance</span>
    </div>
    <div>
      <i class="fa-regular fa-hand"></i>
      <p>from 18 years</p>
      <span>age restrictions</span>
    </div>
    <div>
      <i class="fa-solid fa-door-open"></i>
      <p>17:00</p>
      <span>opening the entrance</span>
    </div>
    <div>
      <i class="fa-solid fa-stopwatch"></i>
      <p>no break</p>
      <span>planned interactions</span>
    </div>
    <div>
      <i class="fa-solid fa-camera"></i>
      <p>prohibited</p>
      <span>recording policy</span>
    </div>
    <div>
      <i class="fa-solid fa-bottle-water"></i>
      <p>prohibited</p>
      <span>bringing own drinks</span>
    </div>
  </div>
</div>
