.events-search,
.events-filtrs {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--border1);
  background-color: var(--backgorund-second);
  border-radius: 5px;
}
.events-filtrs-options {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.events-filtrs-options select,
input {
  width: 50%;
  padding: 0.5rem;
  border: 1px solid var(--border1);
  border-radius: 5px;
}
.events-filtrs-text {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}
.events-filtrs-text input {
  width: 80%;
  padding: 0.5rem;
}
.events-filtrs-text button {
  padding: 0.5rem;
  width: 20%;
  cursor: pointer;
  color: white;
  background-color: var(--btn-color);
  border: none;
  border-radius: 5px;
}
