.nav {
  position: relative;
  text-transform: uppercase;
  color: var(--text-color2);
  background-color: var(--backgorund-first);
  font-family: "Bebas Neue", sans-serif;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 4rem;
}
.nav li {
  list-style: none;
  letter-spacing: 2px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: color 0.3s;
}
.nav li:hover {
  color: var(--text-color2-hover);
}
