<div class="eventListItem">
  <div class="eventListItem-info">
    <div class="eventListItem-info-location">
      <p class="eventListItem-info-location-place">Marki</p>
      <p>11 September 2023</p>
      <p class="eventListItem-info-location-time">Time: 20:30</p>
    </div>
    <div class="eventListItem-info-img">
      <img src="../../../assets/socha.webp" alt="" />
    </div>
    <div class="eventListItem-info-creator">
      <p class="eventListItem-info-creator-name">Mateusz Socha</p>
      <p class="eventListItem-info-creator-title">
        Marki! Mateusz Socha- "Panie Mateuszu"
      </p>
    </div>
  </div>
  <button class="btn-main" routerLink="/event/1">More Info</button>
  <img
    src="../../../assets/socha.webp"
    alt=""
    class="eventListItem-backgroundImg"
  />
</div>
