.eventListItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-right: 2rem;
  margin-bottom: 0.5rem;
  border: 1px solid var(--border1);
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.853);
  transition: background-color 0.3s;
}
.eventListItem:hover {
  background-color: rgba(255, 255, 255, 0.769);
}
.eventListItem button {
  white-space: nowrap;
}

.eventListItem-info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.eventListItem-info-location {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}
.eventListItem-info-location-place {
  font-weight: bold;
  transition: color 0.3s;
}
.eventListItem-info-location-place:hover {
  color: var(--text-color-hover2);
}
.eventListItem-info-location-time {
  font-size: 0.8rem;
}
.eventListItem-info-img {
  width: 10%;
}
.eventListItem-info-img img {
  width: 100%;
  border-radius: 5px;
}

.eventListItem-info-creator {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: color 0.3s;
}
.eventListItem-info-creator:hover {
  color: var(--text-color-hover2);
}
.eventListItem-info-creator-name {
  font-size: 1.2rem;
  font-weight: bold;
}
.eventListItem-info-creator-title {
  font-size: 0.8rem;
}
.eventListItem-backgroundImg {
  position: absolute;
  width: 100%;
  z-index: -1;
  left: 0;
}
