footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color2);
  background-color: var(--backgorund-first);
  min-height: 8vh;
  font-family: "Bebas Neue", sans-serif;
}
