/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --backgorund-first: #94d2b0;
  --backgorund-second: #e6f7ec;
  --text-color1: white;
  --text-color2: black;
  --text-color-hover1: rgb(86, 86, 86);
  --text-color-hover2: #df6b51;

  --btn-color: #df6b51;
  --btn-color-hover: #e64d2b;

  --border1: #b1b1b1;
}

.container {
  padding: 2rem 6rem;
}
.borderBox {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--border1);
  background-color: var(--backgorund-second);
  border-radius: 5px;
}

.btn-main {
  padding: 1rem;
  cursor: pointer;
  color: var(--text-color1);
  background-color: var(--btn-color);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.btn-main:hover {
  background-color: var(--btn-color-hover);
}
